@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.swiper-button-next ,  .swiper-button-prev {
  background-image: url(./rightArrow.svg) !important;
  background-size: .5rem !important;
  background-color: rebeccapurple;
  border-radius: 999999px;
  right: 0 !important;
  opacity: .8 !important;
  padding: 1.5rem ; 
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  display: none !important;
}
.swiper-button-next::after ,  .swiper-button-prev::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(./leftArrow.svg) !important;
  left: 0px !important;
}
.swiper-scrollbar {
  display: none !important;
}
@layer utilities {

  .clip-path-inset0 {

    clip-path: inset(0);

  }
  .gradientBlack {
    background: linear-gradient(180deg, #00000000 15%, rgba(0,0,0,1) 60%);
  }
  .lineargradiant {
    background: radial-gradient(50% 50% at 50% 50%, #242528 0%, #040404 100%);
  }

}
tr:nth-child(even) {
  background-color: #dddddd;
}
td {
  text-align: center;
}